
body, h1, p {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #A7CCED;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  #timer {
    font-size: 20px;
    color: red; 
    margin-bottom: 10px;
  }
  
  #question {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin: 0 auto;
    width: 70%;
    text-align: left;
    font-size: 18px;
    color: #333;
  }
  
  #answers {
    list-style-type: none;
    padding: 0;
  }
  
  #answers li {
    margin: 5px 0;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
  }
  
  #answers li:hover {
    background-color: #e0e0e0;
  }
  
  #start-quiz {
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  #start-quiz:hover {
    background-color: #0056b3;
  }
  
  #score-section {
    display: none;
    margin-top: 20px;
    font-size: 18px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  #initials {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  #submit-score {
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #submit-score:hover {
    background-color: #0C335D;
  }
  